.billinglist-form {
    display: flex;
    flex-direction: column;
}

.billinglist-form input {
    margin: 10px 0;
    height: 35px;
    padding: 0 5px;
}

.billinglist-form select {
    margin: 10px 0;
    height: 35px;
    padding: 0 5px;
}

.billinglist-details ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #000;
}

.billinglist-details ul li {
    margin: 0 28px;
}

.list-details {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 10px;
}