.expense {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0;
}

.expense .name {
    flex-basis: 40%;
    text-align: left;
    display: flex;
    font-family: "Playfair Display", serif;
}

.expense .price {
    flex-basis: 20%;
    text-align: right;
}

.expense .action {
    flex-basis: 15%;
    text-align: center;
}

.expense .action button {
    background-color: #093cf66b;
    color: #ffffff;
    width: 60%;
    border: 1px solid #40495c;
    border-radius: 5px;
}

.product .action button.remove {
    color: #ffffff;
    background-color: #f6095070;
    width: 60%;
    border: 1px solid #40495c;
    border-radius: 5px;
}